@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header .top {
  max-width: 1550px;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid rgb(212, 212, 199);
  position: fixed;
  background-color: white;
  z-index: 2;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .top .topchild1 {
  height: 100%;
  max-width: 770px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .top .topchild1 .logo {
  display: inline-block;
}
header .top .topchild1 .logo a i {
  color: #274C5B;
}
@media (max-width: 1324px) {
  header .top .topchild1 .logo {
    margin-left: 30px;
  }
}
header .top .topchild1 nav {
  max-width: 650px;
  width: 100%;
}
header .top .topchild1 nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .top .topchild1 nav ul li a {
  display: inline-block;
  color: #274C5B;
  font-family: "BPG Banner", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
header .top .topchild1 nav ul li a:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
header .top .topchild1 nav ul li form select {
  border: none;
  color: #274C5B;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
header .top .topchild1 .fa-bars {
  display: none;
}
@media (max-width: 1324px) {
  header .top .topchild1 .fa-bars {
    display: inline-block;
    margin-right: 30px;
  }
}
@media (max-width: 905px) {
  header .top .topchild1 nav {
    display: none;
  }
}
@media (max-width: 1324px) {
  header .top .topchild1 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
}
header .top .topchild2 {
  height: 100%;
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
header .top .topchild2 input {
  max-width: 376px;
  width: 100%;
  height: 66px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 36px;
  background: #FAFAFA;
  border: none;
  border-color: white;
  padding-left: 20px;
  font-size: 25px;
  background-image: url(../images/Search\ Icon.svg);
  background-repeat: no-repeat;
  background-position: 310px, 0px;
}
header .top .topchild2 button {
  width: 159px;
  height: 66px;
  padding-left: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: white;
  border-radius: 36px;
  border: 1px solid #E0E0E0;
  color: #274C5B;
  font-family: "BPG Banner", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-image: url(../images/Cart\ Icon.svg);
  background-repeat: no-repeat;
  background-position: 6px, 10px;
}
@media (max-width: 1324px) {
  header .top .topchild2 {
    display: none;
  }
}
@media (max-width: 1324px) {
  header .top {
    max-width: 100%;
  }
}

.s-1 {
  width: 100%;
  height: 850px;
  background-image: url(../images/l.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(39, 76, 91, 0.5333333333);
  position: relative;
  opacity: 20px;
}
.s-1 .s-1child {
  max-width: 620px;
  width: 100%;
  height: 430px;
  position: absolute;
  left: 100px;
  top: 280px;
  background-color: rgba(39, 76, 91, 0.2431372549);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 15px;
}
.s-1 .s-1child h5 {
  color: hwb(197 21% 48%);
  font-family: "BPG Banner", sans-serif;
  font-size: 38px;
  width: 690px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 15px;
}
@media (max-width: 833px) {
  .s-1 .s-1child h5 {
    font-size: 32px;
  }
}
.s-1 .s-1child h1 {
  color: hwb(56 0% 0%);
  font-family: "BPG Irubaqidze", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 80px;
  margin-left: 15px;
}
@media (max-width: 833px) {
  .s-1 .s-1child h1 {
    font-size: 45px;
    margin-bottom: 50px;
  }
}
.s-1 .s-1child a button {
  width: 220px;
  height: 79px;
  padding-right: 40px;
  border: none;
  border-radius: 16px;
  background: rgb(255, 183, 0);
  color: #274C5B;
  font-family: "ALK Life", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-image: url(../images/Aerrow.svg);
  background-repeat: no-repeat;
  background-position: 162px;
  cursor: pointer;
  margin-left: 15px;
}
.s-1 .s-1child a button:hover {
  color: #F9F8F8;
  background: #274C5B;
  background-image: url(../images/Aerrow.svg);
  background-repeat: no-repeat;
  background-position: 162px;
}
@media (max-width: 833px) {
  .s-1 .s-1child {
    max-width: 550px;
    height: 360px;
    left: 60px;
  }
}

@media (max-width: 833px) {
  .s-1 {
    position: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-2 {
  max-width: 1440px;
  width: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.s-2 .mydiv1 .card {
  width: 682px;
  height: 367px;
  border-radius: 25px;
  position: relative;
  background-image: url(../images/ტყავი.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.s-2 .mydiv1 .card .myh4 {
  position: absolute;
  left: 25px;
  color: #F9F8F8;
  font-family: "ALK Life", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 210px;
}
@media (max-width: 821px) {
  .s-2 .mydiv1 .card {
    width: 500px;
  }
}
.s-2 .mydiv2 .card2 {
  width: 682px;
  height: 367px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
  background-image: url(../images/crafting.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.s-2 .mydiv2 .card2 h3 {
  color: #F9F8F8;
  font-family: "MG Glaho Drunk", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 400px;
  position: absolute;
  left: 50px;
  top: 210px;
}
@media (max-width: 821px) {
  .s-2 .mydiv2 .card2 {
    width: 500px;
  }
}

@media (max-width: 1461px) {
  .s-2 {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
    height: 800px;
  }
}
.s-3 {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: #F9F8F8;
}
.s-3 .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s-3 .container .about1 {
  width: 671px;
  height: 730px;
}
.s-3 .container .about1 .hello {
  color: #525C60;
  font-family: "BPG Boxo", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  width: 444px;
  margin-left: 50px;
  margin-top: 20px;
}
@media (max-width: 1390px) {
  .s-3 .container .about1 .hello {
    margin-left: 40px;
    width: 390px;
  }
}
.s-3 .container .about1 h4 {
  color: #7EB693;
  font-family: "MG Glaho Drunk", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.s-3 .container .about1 p {
  color: #274C5B;
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 33px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 524px;
  margin-bottom: 50px;
}
.s-3 .container .about1 .m {
  width: 400px;
  height: 81px;
  border-radius: 49px;
  background: #ECECEC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.s-3 .container .about1 .m h5 {
  color: #274C5B;
  font-family: "ALK Life", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.s-3 .container .about1 .m i {
  margin-right: 7px;
  margin-left: 27px;
}
@media (max-width: 1420px) {
  .s-3 .container .about1 {
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-3 .container .about2 {
  width: 678px;
  height: 579px;
  overflow: hidden;
  background-image: url(../images/ტყავი2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  position: relative;
}
.s-3 .container .about2 div {
  width: 200px;
  height: 100px;
  background-color: rgba(29, 50, 58, 0.3725490196);
  position: absolute;
  left: 30px;
  bottom: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-3 .container .about2 div h2 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: rgba(53, 26, 6, 0.856);
  font-family: "Lilita One", cursive;
}
@media (max-width: 1420px) {
  .s-3 .container .about2 {
    margin-top: 30px;
    width: 550px;
  }
}
@media (max-width: 1431px) {
  .s-3 .container {
    width: 95%;
  }
}
@media (max-width: 1420px) {
  .s-3 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 850px) {
  .s-3 .container {
    width: 100%;
    margin: 0 0;
  }
}
.s-3 .div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-top: 90px;
}
.s-3 .div2 h1 {
  display: inline-block;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: orange;
  font-family: "ALK Rounded Mtav Med", sans-serif;
}
@media (max-width: 1200px) {
  .s-3 .div2 h1 {
    font-size: 50px;
  }
}
@media (max-width: 1008px) {
  .s-3 .div2 h1 {
    font-size: 35px;
  }
}

.s-4 {
  width: 100%;
  background-image: url(../images/leather.jpg);
  height: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.s-4 .child {
  width: 700px;
  height: 510px;
  background-color: #EFF6F1;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 20px;
}
.s-4 .child img {
  width: 150px;
  height: 150px;
  size: cover;
}
.s-4 .child div {
  width: 190px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.s-4 .child h3 {
  font-size: 30px;
  font-family: "ALK Life", sans-serif;
}
.s-4 .child h4 {
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-family: "ALK Sanet", sans-serif;
}
@media (max-width: 1000px) {
  .s-4 .child h4 {
    font-size: 25px;
  }
}
.s-4 .child h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.s-4 .child p {
  font-family: "BPG Irubaqidze", sans-serif;
  line-height: 25px;
  max-width: 600px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}
@media (max-width: 1000px) {
  .s-4 .child p {
    width: 500px;
  }
}
.s-4 .child h1 {
  font-family: "ALK Life", sans-serif;
  font-size: 20px;
}
@media (max-width: 1000px) {
  .s-4 .child {
    width: 600px;
  }
}

.s-5 {
  padding-top: 70px;
}
.s-5 h1 {
  color: #274C5B;
  text-align: left;
  font-family: "ALK Sanet", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 405px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.s-5 .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s-5 .container .mycard {
  width: 430px;
  height: 500px;
  border-radius: 30px;
  background-color: #F9F8F8;
  margin-bottom: 35px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.s-5 .container .mycard img {
  width: 430px;
  height: 335.23px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.s-5 .container .mycard h4 {
  color: #274C5B;
  text-align: left;
  font-family: "ALK Life", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}
.s-5 .container .mycard h6 {
  color: rgb(18, 224, 18);
  margin-left: 20px;
}
.s-5 .container .mycard .mycardchild {
  width: 100%;
  height: 25px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-5 .container .mycard .mycardchild h1 {
  color: #274C5B;
  font-family: "BPG Banner", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}
.s-5 .container .mycard .mycardchild .star {
  margin-right: 10px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-5 .container .mycard:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 930px) {
  .s-5 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-5 a button {
  width: 287px;
  height: 30px;
  padding-right: 40px;
  border: none;
  border-radius: 16px;
  background: rgb(255, 183, 0);
  color: #274C5B;
  font-family: "ALK Life", sans-serif;
  font-size: 20.5px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-image: url(../images/Aerrow.svg);
  background-repeat: no-repeat;
  background-position: 260px;
  cursor: pointer;
  margin-left: 10px;
}
.s-5 a button:hover {
  color: #F9F8F8;
  background: #274C5B;
  background-image: url(../images/Aerrow.svg);
  background-repeat: no-repeat;
  background-position: 260px;
}

.s-5a {
  padding-top: 50px;
}
.s-5a .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-5a .container h1 {
  color: #274C5B;
  text-align: left;
  font-family: "ALK Rounded Mtav Med", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}
@media (max-width: 1180px) {
  .s-5a .container h1 {
    font-size: 50px;
  }
}
@media (max-width: 1026px) {
  .s-5a .container h1 {
    font-size: 45px;
  }
}
@media (max-width: 904px) {
  .s-5a .container h1 {
    font-size: 35px;
  }
}
.s-5a .container .infowrapper {
  width: 1000px;
  height: 500px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(20, 74, 95, 0.0980392157);
  margin-bottom: 30px;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
.s-5a .container .infowrapper img {
  width: 500px;
  height: 400px;
  border-radius: 20px;
  size: cover;
}
.s-5a .container .infowrapper .info {
  width: 400px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.s-5a .container .infowrapper .info h1 {
  color: #274C5B;
  text-align: left;
  font-family: "ALK Life", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.s-5a .container .infowrapper .info h4 {
  color: #274C5B;
  font-family: "BPG Banner", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s-5a .container .infowrapper .info a i {
  margin-top: 10px;
}
@media (max-width: 1035px) {
  .s-5a .container .infowrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 900px;
    width: 600px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.s-5a .container .infowrapper:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.s-6 {
  width: 100%;
  padding-top: 50px;
}
.s-6 .background {
  width: 100%;
  height: 250px;
  background-image: url(../images/leather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 10px solid rgb(195, 185, 185);
}
.s-6 .background .mydiv3 {
  width: 500px;
  height: 110px;
  background-color: rgba(179, 83, 31, 0.43);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-6 .background .mydiv3 h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: white;
  font-family: "ALK Rounded Mtav Med", sans-serif;
}
.s-6 .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.s-6 .container .img {
  max-width: 700px;
  width: 100%;
  height: 450px;
  border-radius: 25px;
  background-image: url(../images/crafting2.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 806px) {
  .s-6 .container .img {
    display: none;
  }
}
.s-6 .container .profile {
  width: 600px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(207, 195, 195, 0.519);
  border-radius: 25px;
}
.s-6 .container .profile p {
  width: 550px;
  font-family: "BPG Irubaqidze", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #274C5B;
}
@media (max-width: 1354px) {
  .s-6 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 1200px;
  }
}
@media (max-width: 806px) {
  .s-6 .container {
    height: 700px;
  }
}

.f-1 {
  width: 100%;
  height: 492px;
  margin-top: 30px;
  background-color: #F9F8F8;
}
.f-1 .container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  height: 492px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.f-1 .container .f-2 {
  width: 285px;
  height: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.f-1 .container .f-2 h1 {
  color: #274C5B;
  font-family: "BPG Banner", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}
.f-1 .container .f-2 h4 {
  color: #525C60;
  text-align: right;
  font-family: "ALK Sanet", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 8px;
}
.f-1 .container .f-2 a {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 21px;
}
.f-1 .container .f-3 {
  width: 430px;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.f-1 .container .f-3 div {
  width: 150px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: rgba(82, 92, 96, 0.2352941176);
}
.f-1 .container .f-3 div .fa-solid {
  color: #274C5B;
  margin-right: 4px;
}
.f-1 .container .f-3 h1 {
  color: #525C60;
  font-family: "ALK Life", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 21px;
}
.f-1 .container .f-3 a i {
  margin-bottom: 0px;
}
.f-1 .container .f-4 {
  width: 200px;
  height: 307px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.f-1 .container .f-4 a {
  color: #274C5B;
  font-family: "BPG Banner", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
@media (max-width: 995px) {
  .f-1 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1200px;
  }
}

@media (max-width: 995px) {
  .f-1 {
    height: 1200px;
  }
}/*# sourceMappingURL=global.css.map */