.s-2 {
    max-width: 1440px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    .mydiv1 {
        .card {
            width: 682px;
            height: 367px;
            border-radius: 25px;
            position: relative;
            background-image: url(../images/ტყავი.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            overflow: hidden;
            
            
        
            .myh4 {
                    
                position: absolute;
                left: 25px;
                color: $whyte;
                font-family: "ALK Life", sans-serif;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                top: 210px;
                
            }
            @media (max-width: 520px) {
                .myh4 {
                    left: 15px;
                }
            }
            @media (max-width: 441px) {
                .myh4 {
                    font-size: 30px;
                }
            }
           
        } 
        @media (max-width: 821px) {
            .card {
                width: 500px;
            }
        } 
        @media (max-width: 550px) {
            .card {
                width: 470px;
            }
        }
        @media (max-width: 520px) {
            .card {
                width: 400px;
            }
        } 
        @media (max-width: 440px) {
            .card{
               width: 350px;
            }
        }
    }   
    .mydiv2 {
        .card2 {
            width: 682px;
            height: 367px;
            overflow: hidden;
            border-radius: 25px;
            position: relative;
            background-image: url(../images/crafting.webp);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
            h3 {
                color: $whyte;
                font-family: "MG Glaho Drunk", sans-serif;
                font-size: 40px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                width: 400px;
                position: absolute;
                left: 50px;
                top: 210px;
                
            }
            @media (max-width: 520px) {
                h3{
                    left: 15px;
                }
            }
            @media (max-width: 441px) {
                h3 {
                    font-size: 35px;
                    width: 330px;
                }
            }
        }
        @media (max-width: 821px) {
            .card2 {
                width: 500px;
            }
        } 
        @media (max-width: 550px) {
            .card2 {
                width: 470px;
            }
        } 
        @media (max-width: 520px) {
            .card2 {
                width: 400px;
            }
        } 
        @media (max-width: 440px) {
            .card2 {
               width: 350px;
            }
        }
    }
    

}
@media (max-width:1461px) {
    .s-2 {
        width: 90%;
        flex-direction: column;
        padding-top: 30px;
        height: 800px;
        
    }
}
