.s-3 {
    
    width: 100%;
    padding-top: 120px;
    padding-bottom: 150px;
    background-color: #F9F8F8;
    
    
    .container {
        @include container;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .about1 {
            width: 671px;
            height: 730px;
                
            .hello {
                color: #525C60;
                font-family: "BPG Boxo", sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 165.4%;
                width: 444px;
                margin-left: 50px;
                margin-top: 20px;
            }
            @media (max-width: 1390px) {
                .hello {
                    margin-left: 40px;
                    width: 390px;
                }
            }
            h4 {
                color: $lightgreen;
                font-family: "MG Glaho Drunk", sans-serif;
                font-size: 50px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 10px;
            }
            p {
                color: $darkblue;
                font-family: "ALK Rounded Mtav Med", sans-serif; 
                font-size: 33px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                width: 524px;
                margin-bottom: 50px;
            }
            .m {
                width: 400px;
                height: 81px;
                border-radius: 49px;
                background: #ECECEC;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 10px;
                    
                h5 {
                    color: $darkblue;
                    font-family: "ALK Life", sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                i {
                    margin-right: 7px;
                    margin-left: 27px;
                    }
            }
            
        
        }
        @media (max-width: 1420px) {
            .about1 {
                width: 600px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
        .about2 {
                
                width: 678px;
                height: 579px;
                overflow: hidden;
                background-image: url(../images/ტყავი2.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 20px;
                position: relative;
                    div {
                        width: 200px;
                        height: 100px;
                        background-color: #1d323a5f;
                        position: absolute;
                        left: 30px;
                        bottom: 30px;
                        border-radius: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        h2 {
                            font-size: 80px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            color: rgba(53, 26, 6, 0.856);
                            font-family: 'Lilita One', cursive;
                        }
                    }
                    
                    
        }
        @media (max-width: 1420px) {
            .about2 {
                margin-top: 30px;
                width: 550px;
            }
        }
    }
    @media (max-width: 1431px) {
        .container {
            width: 95%;
            
        }
    }
    @media (max-width: 1420px) {
        .container {
            flex-direction: column;
            align-items: center;
        }
    }
    .div2 { 
        display: flex;
        justify-content: center;
        width: 100%; 
       
        margin-top: 90px;  
        h1 {
            display: inline-block;
            
            font-size: 60px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            color: orange;
            font-family: "ALK Rounded Mtav Med", sans-serif;               
        }
        @media (max-width: 1200px) {
            h1 {
                font-size: 50px;
            }
        }
        @media (max-width: 1008px) {
            h1 {
                font-size: 35px;
            }
        }    
    }
    
} 

