.s-4 {
    
    width: 100%;
    background-image: url(../images/leather.jpg);
    height: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    
    .child {
        width: 700px;
        height: 510px;
        background-color: $lightgrey;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
        img {
            width: 150px;
            height: 150px;
            size: cover;
        }
        div {
            width: 190px;
            height: 10px;
            display: flex;
            justify-content: space-around;
        }
        h3 {
            font-size: 30px;
            font-family: "ALK Life", sans-serif;
        }
        h4 {
            font-size: 30px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            font-family: "ALK Sanet", sans-serif;
        }
        @media (max-width: 1000px) {
            h4 {
                font-size: 25px;
            }
        }
        @media (max-width: 657px) {
            h4 {
                
                font-size: 20px;
            }
        }
        @media (max-width: 440px) {
            h4 {
               font-size: 17px;
            }
        }

        h2 {
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            
        }
        p {
            font-family: "BPG Irubaqidze", sans-serif;
            line-height: 25px;
            max-width: 600px;
            width: 100%;
            font-weight: 700;
            font-size: 18px;
        }
        @media (max-width: 1000px) {
            p {
                width: 500px;
            }
        }
        @media (max-width: 657px) {
            p {
                width: 470px;
            }
        }
        @media (max-width: 550px) {
            p {
                width: 380px;
            }
        } 
        @media (max-width: 440px) {
            p{
               width: 350px;
            }
        }

        h1 {
            font-family: "ALK Life", sans-serif;
            font-size: 20px; 
        }
    }
    @media (max-width: 1000px) {
        .child {
            width: 600px;
        }
    }
    @media (max-width: 657px) {
        .child {
            width: 510px;
        }
    }
    @media (max-width: 550px) {
        .child {
            width: 420px;
        }
    } 
    @media (max-width: 440px) {
        .child{
           width: 370px;
           height: 550px;
        }
    }


}